<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image Classification</title>
    </head>

    <body>
        <h1>Image Classification</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="imagefile">
            <input type="submit" value="Predict Image" name="submit">
        </form>
        <h2>Result</h2>
        {% if prediction %}
            <p> Image is a {{prediction}}</p>
        {% endif %}   

    </body>
</html>